<header class="w-100 d-flex align-items-center justify-content-between pt-3 pt-md-4 pb-5 px-3 px-md-4">
  <h5 class="poppins fw-700 primary-text">Renan L.</h5>

  <button class="d-block d-md-none border-0 bg-transparent shadow-none" (click)="toggleMobileMenu()">
    <img src="/assets/icons/menu.svg" alt="Abrir menu" width="40px">
  </button>

  <nav class="header-nav" [class.active]="activeMobileMenu">
    <div class="d-flex align-items-center justify-content-between w-100 d-md-none">
      <h5 class="poppins fw-700 primary-text">Renan L.</h5>

      <button class="border-0 shadow-none bg-transparent" (click)="toggleMobileMenu()">
        <img src="/assets/icons/close.svg" alt="Fechar" width="40px">
      </button>
    </div>

    <ul class="header-nav-ul pt-5 pt-md-0">
      <li class="fw-500 poppins">
        <a href="#main" class="cursor-pointer hover-1 px-3" (click)="toggleMobileMenu()">
          Sobre
        </a>
      </li>
      <li class="fw-500 poppins">
        <a href="#portfolio" class="cursor-pointer hover-1 px-3" (click)="toggleMobileMenu()">
          Portfólio
        </a>
      </li>
      <li class="fw-500 poppins">
        <a href="#contato" class="cursor-pointer hover-1 px-3" (click)="toggleMobileMenu()">
          Contato
        </a>
      </li>
    </ul>

    <div class="d-flex align-items-center justify-content-start gap-3 pt-3 pe-0 pe-md-4 d-md-none">
      <!-- Linkedin -->
      <a aria-label="linkedin" title="Linkedin" rel="noreferrer" target="_blank" href="https://www.linkedin.com/in/renan-lucena-811491214/">
        <svg
          xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-brand-linkedin">
          <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
          <path d="M8 11l0 5"></path>
          <path d="M8 8l0 .01"></path>
          <path d="M12 16l0 -5"></path>
          <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
        </svg>
      </a>
      <!-- Github -->
      <a aria-label="github" title="Github" rel="noreferrer" target="_blank" href="https://github.com/RenanLucenaDeveloper">
        <svg
          xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-brand-github">
          <path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5">
          </path>
        </svg>
      </a>
    </div>
  </nav>
</header>

<!-- Main Section / Hero -->
<section id="main" class="fade-in container py-5">
  <div class="row justify-content-center align-items-center flex-column-reverse flex-lg-row">
    <!-- Info -->
    <div class="col-12 col-lg-6 col-xl-5 col-xxl-4 d-flex flex-column justify-content-end align-items-start pt-5 pt-lg-0">
      <h1 class="poppins fw-700 primary-text text-center text-lg-start">
        Programador Frontend Web
      </h1>
      <p class="poppins sub-hero pt-3 primary-text fw-400 text-center text-lg-start w-100 d-block mx-auto ms-lg-0">
        Olá, me chamo Renan Lucena. Desenvolvedor web de São Bernardo do Campo, SP 📍
      </p>

      <div class="d-flex align-items-center justify-content-center justify-content-lg-start w-100 gap-3 pt-3">
        <!-- Linkedin -->
        <a aria-label="linkedin" title="Linkedin" rel="noreferrer" target="_blank" href="https://www.linkedin.com/in/renan-lucena-811491214/">
          <svg
            xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-brand-linkedin">
            <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
            <path d="M8 11l0 5"></path>
            <path d="M8 8l0 .01"></path>
            <path d="M12 16l0 -5"></path>
            <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
          </svg>
        </a>
        <!-- Github -->
        <a aria-label="github" title="Github" rel="noreferrer" target="_blank" href="https://github.com/RenanLucenaDeveloper">
          <svg
            xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-brand-github">
            <path
              d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5">
            </path>
          </svg>
        </a>
      </div>
    </div>

    <!-- Profile Img -->
    <div class="col-12 col-lg-6 col-xl-4 d-flex align-items-center justify-content-center justify-content-lg-end">
      <div class="profile-img">
          <span class="d-inline position-absolute hand-shake">👋</span>
      </div>
    </div>
  </div>

  <div class="row justify-content-center pt-5 pt-lg-0 pt-xl-4 pb-5">
    <div class="col-xl-9 col-xxl-8 d-flex flex-column flex-lg-row align-items-center justify-content-start gap-4">
      <p class="poppins fw-600">Tecnologias</p>
      <p class="poppins fw-500 me-3 d-none d-lg-inline-block">|</p>
      <ul class="d-flex align-items-center justify-content-start gap-3">
        <li>
          <img src="/assets/icons/html5.svg" alt="HTML5" width="40px" title="HTML5">
        </li>
        <li>
          <img src="/assets/icons/css3.svg" alt="CSS3" width="40px" title="CSS3">
        </li>
        <li>
          <img src="/assets/icons/typescript.png" alt="TYPESCRIPT" width="40px" title="TYPESCRIPT">
        </li>
        <li>
          <img src="/assets/icons/js.svg" alt="JS" width="40px" title="JS">
        </li>
        <li>
          <img src="/assets/icons/angular.png" alt="ANGULAR" width="47px" title="ANGULAR">
        </li>
        <li>
          <img src="/assets/icons/react.svg" alt="REACT" width="40px" title="REACT">
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Projects -->
<section id="portfolio" class="fade-in w-100 bg-2 mt-5">
  <div class="container py-5">
    <div class="row py-5 justify-content-center">
      <div class="col-12 col-xl-9 col-xxl-8">
        <div class="px-3 px-lg-0">
          <p class="poppins letter-s-1 fw-700 d-block link-text text-uppercase">
            Portfólio
          </p>
          <h5 class="poppins pt-3 fw-700 primary-text d-block pb-4">
            Cada projeto compõe um pedaçinho do meu conhecimento 🧩
          </h5>
  
          <!-- ThinkSus -->
          <div class="mt-5 pt-5 pb-3">
            <div class="d-flex flex-column-reverse flex-lg-row align-items-center justify-content-between gap-4">  
              <!-- Info -->
              <div class="d-flex flex-column gap-4" style="max-width: 320px;">
                <p class="poppins pt-3 fw-800 primary-text d-block w-100 text-center text-uppercase">
                  ThinkSus 🍃
                </p>
                <p class="poppins fw-400 secundary-text w-100 text-center caption">
                  Plataforma completa de planejamento empresarial para ESG e emissão de carbono. Internacionalização de ponta a ponta e gerenciamente de planos e pagamentos
                </p>

                <div class="d-flex w-100 align-items-center justify-content-center gap-3">
                  <p class="primary-text poppins caption fw-700">Angular</p>
                  <p class="primary-text poppins caption fw-700">NGRX</p>
                </div>

                <div class="d-flex w-100 align-items-center justify-content-center gap-4 pt-4">
                  <a href="https://github.com/RenanLucenaDeveloper" target="_blank" class="primary-text poppins caption fw-700 d-flex align-items-center gap-2">
                    Repo
                    <img src="/assets/icons/github.svg" width="23px"/>
                  </a>

                  <a href="https://thinksus.com/home" target="_blank" class="primary-text poppins caption fw-700 d-flex align-items-center gap-2">
                    Abrir
                    <img src="/assets/icons/open.svg" width="20px"/>
                  </a>
                </div>
              </div>

              <!-- IMG -->
              <a href="https://thinksus.com/home" target="_blank" class="w-100 d-block project-container">
                <img src="/assets/img/thinksus.JPG" alt="ThinkSus Image">
              </a>
            </div>
          </div>

          <!-- Cristãozinho -->
          <div class="mt-5 pt-5 pb-3">
            <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between gap-4">
              <!-- IMG -->
              <a href="https://cristaozinho-landing-page.vercel.app/" target="_blank" class="w-100 d-block project-container">
                <img src="/assets/img/cristaozinho.JPG" alt="Cristãozinho">
              </a>

              <!-- Info -->
              <div class="d-flex flex-column gap-4" style="max-width: 320px;">
                <p class="poppins pt-3 fw-800 primary-text d-block w-100 text-center text-uppercase">
                  Cristãozinho 👼
                </p>
                <p class="poppins fw-400 secundary-text w-100 text-center caption">
                  Website com bastante animações avançadas para o famoso desenho da Turma do Cristãozinho. Entre e teste a fluidez por conta própria
                </p>

                <div class="d-flex w-100 align-items-center justify-content-center gap-3">
                  <p class="primary-text poppins caption fw-700">Angular</p>
                  <p class="primary-text poppins caption fw-700">SCSS</p>
                </div>

                <div class="d-flex w-100 align-items-center justify-content-center gap-4 pt-4">
                  <a href="https://github.com/RenanLucenaDeveloper" target="_blank" class="primary-text poppins caption fw-700 d-flex align-items-center gap-2">
                    Repo
                    <img src="/assets/icons/github.svg" width="23px"/>
                  </a>

                  <a href="https://cristaozinho-landing-page.vercel.app/" target="_blank" class="primary-text poppins caption fw-700 d-flex align-items-center gap-2">
                    Abrir
                    <img src="/assets/icons/open.svg" width="20px"/>
                  </a>
                </div>
              </div>
            </div>
          </div>
            
          <!-- Ruragil -->
          <div class="mt-5 pt-5 pb-3">
            <div class="d-flex flex-column-reverse flex-lg-row align-items-center justify-content-between gap-4">  
              <!-- Info -->
              <div class="d-flex flex-column gap-4" style="max-width: 320px;">
                <p class="poppins pt-3 fw-800 primary-text d-block w-100 text-center text-uppercase">
                  Rurágil 🐇
                </p>
                <p class="poppins fw-400 secundary-text w-100 text-center caption">
                  Web App feito para a documentação, pagamento e oficialização da negociação de terrenos, fazendas e máquinas do âmbito rural, possui Backoffice
                </p>

                <div class="d-flex w-100 align-items-center justify-content-center gap-3">
                  <p class="primary-text poppins caption fw-700">Typescript</p>
                  <p class="primary-text poppins caption fw-700">Bootstrap</p>
                </div>

                <div class="d-flex w-100 align-items-center justify-content-center gap-4 pt-4">
                  <a href="https://github.com/RenanLucenaDeveloper" target="_blank" class="primary-text poppins caption fw-700 d-flex align-items-center gap-2">
                    Repo
                    <img src="/assets/icons/github.svg" width="23px"/>
                  </a>

                  <a href="https://ruragil-frontend.vercel.app/auth/splash" target="_blank" class="primary-text poppins caption fw-700 d-flex align-items-center gap-2">
                    Abrir
                    <img src="/assets/icons/open.svg" width="20px"/>
                  </a>
                </div>
              </div>

              <!-- IMG -->
              <a href="https://ruragil-frontend.vercel.app/auth/splash" target="_blank" class="w-100 d-block project-container">
                <img src="/assets/img/ruragil.JPG" alt="Cristãozinho">
              </a>
            </div>
          </div>

          <!-- Nutrichat -->
          <div class="mt-5 pt-5 pb-5">
            <div class="d-flex flex-column flex-lg-row align-items-center justify-content-between gap-4">
              <!-- IMG -->
              <a href="https://nutrichat-landing.vercel.app/" target="_blank" class="w-100 d-block project-container">
                <img src="/assets/img/nutrichat.JPG" alt="Cristãozinho">
              </a>

              <!-- Info -->
              <div class="d-flex flex-column gap-4" style="max-width: 320px;">
                <p class="poppins pt-3 fw-800 primary-text d-block w-100 text-center text-uppercase">
                  Nutrichat 🦾
                </p>
                <p class="poppins fw-400 secundary-text w-100 text-center caption">
                  Landing page para apresentação de um novo chatbot treinado não só por programadores, mas também por nutricionistas reconhecidos
                </p>

                <div class="d-flex w-100 align-items-center justify-content-center gap-3">
                  <p class="primary-text poppins caption fw-700">Angular</p>
                  <p class="primary-text poppins caption fw-700">SCSS</p>
                </div>

                <div class="d-flex w-100 align-items-center justify-content-center gap-4 pt-4">
                  <a href="https://github.com/RenanLucenaDeveloper" target="_blank" class="primary-text poppins caption fw-700 d-flex align-items-center gap-2">
                    Repo
                    <img src="/assets/icons/github.svg" width="23px"/>
                  </a>

                  <a href="https://nutrichat-landing.vercel.app/" target="_blank" class="primary-text poppins caption fw-700 d-flex align-items-center gap-2">
                    Abrir
                    <img src="/assets/icons/open.svg" width="20px"/>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact -->
<section id="contato" class="fade-in w-100 bg-1">
  <div class="container py-5">
    <div class="row justify-content-center py-5">
      <div class="col-12 col-xl-9 col-xxl-8">
        <div class="px-3 px-lg-0">
          <p class="poppins letter-s-1 fw-700 d-block link-text text-uppercase">
            Contato
          </p>
          <h5 class="poppins pt-3 fw-700 primary-text d-block pb-5">
            Precisando de mim? Entre em contato 👇
          </h5>

          <h6 class="primary-text fw-600 font-s-1-2 mb-2">E-mail</h6>
          <p class="secundary-text mb-4">Reenanluceena@gmail.com</p>
          
          <h6 class="primary-text fw-600 font-s-1-2 mb-2">Celular</h6>
          <p class="secundary-text">(11) 96568-3640</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Quote -->
<section class="fade-in w-100 bg-2 mt-5">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col">
        <p class="poppins fw-400 italic quote quote-max text-center w-100 px-2 primary-text d-block mx-auto">"Em um determinado momento, o dev tem que parar de falar em responsividade para falar de responsabilidade"</p>
        <p class="poppins fw-600 quote-max text-end px-2 d-block w-100 primary-text  d-block mx-auto mt-3">Renan Lucena</p>
      </div>
    </div>
  </div>
</section>

<footer class="fade-in py-5 px-3 px-md-5 d-flex flex-column flex-md-row align-items-center justify-content-between w-100 gap-3">
  <p class="flex-grow-1">Todos os direitos reservados &copy;</p>

  <div class="d-flex align-items-center justify-content-center justify-content-lg-start gap-3 pt-3 pe-0 pe-md-4">
    <!-- Linkedin -->
    <a aria-label="linkedin" title="Linkedin" rel="noreferrer" target="_blank" href="https://www.linkedin.com/in/renan-lucena-811491214/">
      <svg
        xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-brand-linkedin">
        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
        <path d="M8 11l0 5"></path>
        <path d="M8 8l0 .01"></path>
        <path d="M12 16l0 -5"></path>
        <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
      </svg>
    </a>
    <!-- Github -->
    <a aria-label="github" title="Github" rel="noreferrer" target="_blank" href="https://github.com/RenanLucenaDeveloper">
      <svg
        xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-brand-github">
        <path
          d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5">
        </path>
      </svg>
    </a>
  </div>

  <div class="flex-grow-1 d-flex align-items-center justify-content-end mt-3 mt-lg-0">
    <button class="get-up-btn" (click)="scrollToTop()">
      <img src="/assets/icons/up.svg" alt="Subir" width="22px">
    </button>
  </div>
</footer>